@use '../../index.scss' as *;

#params{
  height: 588px;

  .left{
    width: 100%;
  }

  h3{
    margin-top: 54px;
    margin-bottom: 18px;
  }

  ul{
    list-style: none;
    margin: 25px 0;
    li {
      margin-bottom: 16px;
      img{
        margin-right: 23px;
      }
    }
  }

  .params-description{
    width: 461px;
    margin-bottom: 32px;
  }
  .params-waves{
    position: absolute;
    z-index: -1;
    top: 500px;
    right: 0;
  }

}
#table-prices{
  background-color: $secondary-backgroud-color;
  width: 100%;
  height: 799px;
  >div{
    flex-direction: column;
  }

  h3{
    margin-top: 35px;
    margin-bottom: 20px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}