@use '../../index.scss' as *;

.card {
  width: 264px;
  height: 239px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.11);
  
  padding: 39px 28px;

  img{
    margin-bottom: 33px;
    max-height: 45px;
  }

}