@import '../../styles/vars';

table{
  margin: 0 auto;
  width: 500px;
  border-collapse: collapse;
  table-layout: fixed;
  overflow:hidden;
  border-radius: 5px;
}

thead{
  font-family: 'Source Sans Pro Regular';
  font-size: 18px;
  background-color: #E5E5E5;
}

tr:nth-child(even) {
  background-color: #E5E5E5;
}
tr{
  text-align: center;
  height: 74px;
}