@import './styles/vars.scss';

@font-face {
  font-family: 'Open Sans Regular';
  src: url(./fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans Semi-bold';
  src: url(./fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url(./fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url(./fonts/SourceSansPro-Bold.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #5F5F5F;
  border: none;
}

body {
  margin: 0;
  font-family: 'Open Sans Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

p{
  color: $secondary-color;
  font-size: 18px;
}


.container{
  width: 1145px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.big-text {
  width: 622px;
  font-family: 'Source Sans Pro Bold';
  font-size: 48px;
  height: 104px;
}
.yellow-text{
  color: $primary-color;
}